1)   Discuss string slicing and provide examples ?

In [5]:
#String slicing in Python allows you to extract a part (substring) of a string using a specific syntax.
A = "Hello,Ankit"
#Basic slicing
print(A[0:5])

Hello

In [6]:
#Slicing with step
print(A[0:5:2])

Hlo

In [9]:
# Slicing with negative index
print(A[-5:])

Ankit

2) Explain the key Features of lists in Python ?

In [10]:
##Lists in Python are one of the most versatile data structures, characterized by the following features:

#Ordered: The items in a list have a defined order.
#Mutable: Lists can be modified after their creation.
#Heterogeneous: Lists can contain items of different types (integers, strings, objects, etc.).
#Dynamic size: Lists can grow or shrink as needed.
#Indexed: Elements in a list can be accessed using their index.


my_list =[1,2,3,"apple","Bananna","orange"]
my_list

[1, 2, 3, 'apple', 'Bananna', 'orange']

3) Describe how to access, modify ,and delete elements in a list with examples?

In [11]:
#Accessing Elements
my_list =[1,2,3,"apple","Bananna","orange"]
my_list[3]

'apple'

In [12]:
# modify Elements
my_list[3] = "Books"
my_list

[1, 2, 3, 'Books', 'Bananna', 'orange']

In [14]:
# delete Elements
del my_list[1]
my_list

[1, 'Books', 'Bananna', 'orange']

4)Compare and contrast tuples and lists with examples ?

In [15]:

#Tuples and lists are both sequences in Python, but they have key differences:

#Mutability: Lists are mutable, whereas tuples are immutable.
#Syntax: Lists are defined with square brackets [ ], while tuples are defined with parentheses ( ).
#Use Cases: Tuples are often used for fixed collections of items, like coordinates, whereas lists are used when the collection needs to change.

In [19]:
my_list=[1,2,3,]
my_list[2] = 60
my_list ## This is allowed

[1, 2, 60]

In [21]:
my_tuple = (1,2,3)
my_tuple[2]=4 #this would raise an error 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

5)Describe the key Features of sets and provide examples of there use ?

In [22]:
#sets are unorderd and unique collection of elements
#does't allow duplicate elements
#unorderd
#indexing will not work

In [23]:
a = {1,2,2,3,3,"ankit","ankit","govind","govind"}
a ##duplicate values are removed

{1, 2, 3, 'ankit', 'govind'}

In [24]:
#Adding the elements
a.add(10)
a

{1, 10, 2, 3, 'ankit', 'govind'}

In [25]:
#Removing the elements
a.remove(10)
a

{1, 2, 3, 'ankit', 'govind'}

In [26]:
# use case
a = {1,2,2,3,3,"ankit","ankit","govind","govind"}
b = {1,2,2,4,9,"govind","vijay","govind","govind"}
a|b

{1, 2, 3, 4, 9, 'ankit', 'govind', 'vijay'}

6) Discuss the use cases of tuples and sets in Python programming ?

In [27]:
#Tuples: Use tuples when you need an immutable collection of items. Common use cases include:

#Storing a collection of related data, such as coordinates (x, y, z).
#Using as keys in dictionaries where immutability is required.
#Sets: Use sets when you need a collection of unique items, particularly for:

#Removing duplicates from a list.
#Performing mathematical set operations like union, intersection, and difference.

In [28]:
#coordinates
my_tuples =(10,20,30)
my_tuples

(10, 20, 30)

In [29]:
max(my_tuples)

30

In [30]:
# use case fir the set
# use case
a = {1,2,2,3,3,"ankit","ankit","govind","govind"}
b = {1,2,2,4,9,"govind","vijay","govind","govind"}
a|b # Removed the duplicate Values

{1, 2, 3, 4, 9, 'ankit', 'govind', 'vijay'}

7) Describe how to add, modify ,and delete items in a dictionary with examples ?

In [31]:
#Adding Items
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [37]:
#modify Items
my_dict['c'] =40
my_dict

{'a': 1, 'b': 2, 'c': 40}

In [38]:
#Delete Items
del my_dict['c']
my_dict

{'a': 1, 'b': 2}

8)Discuss the importance of dictionary keys being immutable and provide examples?

In [39]:
#In Python, dictionary keys must be immutable because they are used to calculate the hash value, which allows for fast lookups. If the keys were mutable, their hash value could change, leading to incorrect data retrieval.

In [41]:
# Immutable key example (allowed)
my_dict = {(1, 2)}

# Mutable key example (not allowed)
# my_dict = {[1, 2]: "List as a key"}  # Raises TypeError: unhashable type: 'list'